@import"reset.css";

@font-face {
    font-family: 'SignikaNegative Bold';
    src: url('fonts/SignikaNegative-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SignikaNegative Regular';
    src: url('fonts/SignikaNegative-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fcfaec;
    font: 0.8em 'SignikaNegative Regular', Helvetica, sans-serif;
}

header {
    background-color: #fcdb00;
    padding: 5.6em 0 4em 2em;
    font-family: 'SignikaNegative Regular', sans-serif;
    margin-bottom: 1.8em;
    font-size: 2em;
}

h2 {
    font-family: 'SignikaNegative Bold', sans-serif;
}

.logo {
    font-size: 4em;
    padding: 0;
    margin-bottom: 0.7em;
}

.logo-text {
    margin: 0;
    font-size: 0.25em;
}

.header-text {
    font-size: 0.75em;
    width: 60%;
    line-height: 1.8;
    font-family: 'SignikaNegative Regular', sans-serif;
    color: #76681a;
}

.wrapper {
    border: 7px solid #faf6d6;
    margin: 2em;
}

.main {

}

.panel {
    background-color: #fcdb00;
    height: 7em;



}

.panel input {
    background-color: #222222;
    border-color: #222222;
    font-size: 0.8em;
    padding: 0.5em;
    border-radius: 3px;
    width: 8%;
    height: 3.5em;
    margin-top: 2.5em;
    margin-left: 2.5em;
    background: url(/images/search%20loupe.jpg) 100px 100px no-repeat;
}

.panel input::-webkit-input-placeholder {
    color: #e8e8e8;


}
.panel input:-moz-placeholder{
    color: #e8e8e8;
}
.panel input::-moz-placeholder{
    color: #e8e8e8;
}
.panel input:-ms-input-placeholder{
    color: #e8e8e8;
}


.panel span {
    margin-left: 45%;
}












footer {
    background-color: #fcfae8;
    padding: 2.6em 7.4em 9.2em 7.4em;
    font-family: 'SignikaNegative Regular', sans-serif;
    overflow: hidden;
    font-style: italic;
}

footer > ul {
    line-height: 2.5;
}

.list-ref {
    float: left;
    width: 30%;
}

.short-info {
    float: left;
    width: 15%;
    line-height: 1.8;
    margin-top: 0.3em;
}

.short-info article {
    color: #cccabc;
}

.short-info span {
    font-size: 1.8em;
    display: inline-block;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 0.5em;
}

.social-block {
    float: right;
    width: 17%;
    font-style: normal;
}

.social-pics {
    float: right;
    margin-bottom: 5em;
}

.social-pics li {
    display: inline-block;
    margin-right: 1.5em;
}

.social-pics li:last-child {
    margin-right: 0;
}

.social-pics a {
    color: #696863;
}

.subscribe::-webkit-input-placeholder {
    color: #555554;
    text-align:right;
    font-weight: bold;
}
.subscribe:-moz-placeholder{
    text-align:right;
}
.subscribe::-moz-placeholder{
    text-align:right;
}
.subscribe:-ms-input-placeholder{
    text-align:right;
}

.social-block input {
    float: right;
    border: none;
    background-color: #fcfae8;
    border-bottom: 2px solid #fcd800;
    width: 187px;
    font-size: 1.5em;
    height: 2em;
}

.social-block button {
    background-color: #fcfae8;
    border: none;
    float: right;
    clear: both;
    color: #35ab37;
    font-weight: bold;
    font-family: 'SignikaNegative Bold', sans-serif;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #cccabc;
}