@import '_fonts';

$light_yellow: #f7f97c;
$yellow: #fcda00;
$grey: #f6f6f6;
$green: #4bb44b;
$dark_grey: #787878;
$orange: #f86f1c;
$dark_blue: #509db6;
$blue: #54a4f6;
$magenta: #eb4a88;
$lavender: #94b8d9;

$backgrcolor: #fcfaec;
$font-regular: 'SignikaNegative Regular', sans-serif;

@mixin border ($width: 1px, $color: $grey) {
  border: 1px solid $grey;
}

@mixin circle ($width: 20px, $height: 20px, $border-radius: 10px) {
  display: inline-block;
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}