@font-face {
  font-family: 'SignikaNegative Regular';
  src: url('../fonts/SignikaNegative-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SignikaNegative Light';
  src: url('../fonts/SignikaNegative-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SignikaNegative Bold';
  src: url('../fonts/SignikaNegative-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}