@import '_variables';

.basket-form {
  position: absolute;
  top: 6.20%;
  right: 2.60%;
  z-index: 10;

    li {
      font-family: $light;
      font-size: 1.5em;
      background-color: #fbfaf1;
      padding-right: 3%;

      span {
        vertical-align: middle;
      }

      img {
        margin-top: 4%;
        float: right;
      }

      .basket-product-photo {
        max-width: 145px;
        width: 145px;
        height: 90px;
        background-color: #787878;
        display: inline-block;
      }

      .basket-product-name {
        margin: 0 17% 0 4%;
      }

      .basket-product-number {
        font-size: 0.8em;
        padding-right: 4%;
        border-right: 1px solid #000;
        margin-right: 3%;
      }

      .basket-product-price {
        font-family: $font-bold;
        font-size: 1.2em;
      }
    }

    li:nth-child(2n) {
      background-color: $green;
      color: #fff;
    }

    li:nth-child(2n) .basket-product-photo {
      background-color: #8b8b8b;
    }

    li:nth-child(2n) .basket-product-number {
      border-right: 1px solid #fff;
    }

    .basket-total-info {
      background-color: #fff;
      padding: 3%;
      font-weight: bold;
      text-align: right;

      span {
        margin-right: 3%;
      }

      span:nth-child(2) {
        padding-right: 2%;
      }

      .basket-total-number {
        margin-right: 0;
      }

      .basket-total-units {
        border-right: 1px solid #000;
        padding-right: 3%;
      }

      .basket-total-word {
        font-weight: normal;
        margin-right: 0;
      }

      .basket-total-price {
        font-weight: bold;
      }

      a {
        display: inline-block;
        background-color: $green;
        border-radius: 5px;
        color: #fff;
        padding: 2% 4%;
        text-decoration: none;
      }

      img {
        margin-right: 4%;
        vertical-align: middle;
      }
    }
  }