@import '_variables';

.sidebar {
      border: 3px solid $grey;
      overflow: hidden;
      position: relative;

      img {
          max-width: 100%;
          width: 520px;
          height: 347px;
          background-color: #8b8b8b;
      }

      section:before{
          content: '';
          position: absolute;
          right: 43%;
          top: 46%;
          border: 30px solid transparent;
          border-bottom: 30px solid #fff;
      }

      section {
          padding: 0 3% 10% 3%;
      }

      h3 {
          font-size: 2.8em;
          font-family: $font-bold;
      }

      article {
          width: 32%;
          border-bottom: 2px solid #000;
          margin-left: 34%;
          margin-bottom: 5%;
      }

      span {
          font-family: $font-regular;
          font-size: 1.1em;
          display: block;
          margin-bottom: 12%;
      }

      button {
          margin: 0 auto;
          padding: 3.2%;
          font-family: $font-regular;
          font-size: 1.5em;
          background-color: $yellow;
          border-radius: 28px;
          border: none;
          width: 55%;
          color: $black;
          cursor: pointer;
      }

    // for js  - hover actions
      .textOnImg {
          position: absolute;
          top: 10%;
          right: 31%;
          color: #fff;
          line-height: 1;

          h2 {
              font-size: 7em;
              text-shadow: 6px 0 2px #dcdcdc;
          }
          span {
              font-size: 3.5em;
              text-shadow: 2px 2px 2px #dcdcdc;
          }
      }

      .onclickButtonBackground {
          background-color: $green;
      }

      .onclickButtonBefore {
          content: ' ';
          width: 25px;
          display: inline-block;
          background: url(../images/heart.png) 35px 17px no-repeat;
      }

      .onclickButton {
          padding: 3.2%;
          background-color: $green;
          box-shadow: 0 3px 3px 0 #3db04e;
          color: #fff;
          margin: 0 auto;
          font-family: $font-regular;
          font-size: 1.5em;
          border-radius: 28px;
          border: none;
          width: 55%;
          cursor: pointer;
      }
}