nav {
    margin-bottom: 2.9%;
    font-size: 1.3em;

        a {
          color: #0b0b0b;
          margin-right: 5%;
          display: inline-block;
        }

        a:last-child {
          margin-right: 0;
        }
}