@import '_variables';

footer {
  background-color: #fcfae8;
  padding: 3% 14% 8.2% 14%;
  font-family: $font-regular;
  overflow: hidden;
  font-style: italic;

  a {
    text-decoration: none;
    color: #cccabc;
  }

  .list-ref {
    float: left;
    width: 33%;
    line-height: 2.5;
    font-size: 1.3em;
  }

  .short-info {
    float: left;
    width: 25%;
    line-height: 1.8;

    article {
      color: #cccabc;
      font-size: 1.2em;
    }

    span {
      font-size: 2.4em;
      display: inline-block;
      font-weight: bold;
      font-style: normal;
      margin-bottom: 0.5%;
    }
  }

  .social-block {
    float: right;
    width: 25%;
    font-style: normal;
    padding-top: 2%;

    .social-pics {
      float: right;
      margin-bottom: 30%;

      li {
        display: inline-block;
        margin-right: 1%;
      }

      li:last-child {
        margin-right: 0;
      }

      a {
        color: #696863;
      }
    }

    .subscribe::-webkit-input-placeholder {
      color: #555554;
      text-align: right;
      font-weight: bold;
    }
    .subscribe:-moz-placeholder {
      text-align: right;
    }
    .subscribe::-moz-placeholder {
      text-align: right;
    }
    .subscribe:-ms-input-placeholder {
      text-align: right;
    }

    input {
      float: right;
      border: none;
      background-color: #fcfae8;
      border-bottom: 2px solid #fcd800;
      width: 90%;
      font-size: 2em;
      padding-bottom: 3%;
    }

    .send {
      background-color: #fcfae8;
      border: none;
      float: right;
      color: $green;
      font-weight: bold;
      font-family: $font-bold;
      font-size: 1.5em;
      cursor: pointer;
    }
  }
}