@import '_variables';

header {
  background-color:$yellow;
  padding: 7em 0.01em 4em 3.3em;
  font-family: $font-regular;
  margin-bottom: 2.2em;
  font-size: 1.595em; /* 18/16 * 1.418 где 1,418 - это коэф-т увеличения ширины в хроме по сравнению с макетом */

  .logo {
    font-size: 4em;
    margin-bottom: 1em;

    h2 {
      font-family: $font-bold;
      font-size: 1.76em; /* 19.82/16 * 1.418 где 1,418 - это коэф-т увеличения ширины в хроме по сравнению с макетом */
    }

    .logo-text {
      font-size: 0.3em;
    }
  }

  .header-text {
    font-size: 0.75em;
    width: 60%;
    line-height: 2.5;
    font-family: $font-regular, sans-serif;
    color: #76681a;
  }
}