@import '_variables';

header {
  background-color:$yellow;
  padding: 16.6% 0.5% 15% 6%;
  font-family: $font-regular;
  margin-bottom: 7.5%;
  line-height: 1;

  .logo {
    margin-bottom: 12%;

    h2 {
      font-family: $font-bold;
      font-size: 8em; /* 20/16 * 1.418 где 1,418 - это коэф-т увеличения ширины в хроме по сравнению с макетом */
    }

    .logo-text {
      font-size: 2.5em;
    }
  }

  .header-text {
    font-size: 1.595em; /* 18/16 * 1.418 где 1,418 - это коэф-т увеличения ширины в хроме по сравнению с макетом */
    width: 66.5%;
    line-height: 2;
    font-family: $font-regular;
    color: #76681a;
  }
}