@import '_variables';

.panel {
    background-color: $yellow;
    overflow: hidden;

    .search-field {
        float: left;
        margin: 2.5% 0 0 3%;
        position: relative;

        .search {
          background-color: $black;
          border: none;
          color: #fff;
          text-transform: uppercase;
          padding: 20px 20px;
          border-radius: 5px;
        }

        .search::-webkit-input-placeholder {
          color: #e8e8e8;
        }
        .search:-moz-placeholder {
          color: #e8e8e8;
        }
        .search::-moz-placeholder {
          color: #e8e8e8;
        }
        .search:-ms-input-placeholder {
          color: #e8e8e8;
        }

        .search-symbol {
          background: url(../images/search.png) 0 0 no-repeat;
          position: absolute;
          top: 30%;
          right: 3%;
          height: 30px;
          width: 30px;
        }

        .search:hover {
          width: 315px;
        }
    }

    .logotype {
        background: url(../images/logo-small.png) 0 40px no-repeat;
        width: 123px;
        height: 59px;
        margin: 0 auto;
        padding: 2% 0;

        a {
          text-indent: -9999px;
          height: 100%;
          display: block;
        }
    }

    .login-and-basket {
        float: right;
        display: flex;

        .blackBlock {
          border: none;
          background-color: #000;
          cursor: pointer;
          width: 130px;
          height: 130px;
        }

        //for js for opening login form and basket form
        .greenBckgr {
          background-color: $green;
        }

        .login-block {
            margin-right: 0.5%;

            .loginImg {
              background: url(../images/login.png) 0 0 no-repeat;
              width: 42px;
              height: 32px;
              position: absolute;
              top: 2.3%;
              right: 11.3%;
            }

          //for js during opening login form
            .changeLoginSymbol {
              background: url(../images/login-onclick.png) 0 0 no-repeat;
              position: absolute;
              width: 42px;
              height: 38px;
              top: 2.1%;
              right: 11.3%;
            }
        }

        .login-block:hover>.login-form {
          display: block;
        }

        .basket-block {
            width: 130px;
            height: 130px;

            .basketImg {
              background: url(../images/basket.png) 0 0 no-repeat;
              width: 30px;
              height: 35px;
              position: absolute;
              top: 2%;
              right: 3.5%;
            }

            //for js for opening basket form
            .changeBasketSymbol {
              background: url(../images/basket-onclick.png) 0 0 no-repeat;
              position: absolute;
              background-size: 70%;
              top: 2%;
              right: 2.2%;
              height: 54px;
              width: 47px;
            }

            .chosen-product-number {
              @include circle(25px, 25px, 20px);
              background-color: $green;
              position: absolute;
              top: 3.1%;
              right: 2.4%;
              color: #fff;
              font-size: 1.1em;
              font-family: $font-bold;
              text-align: center;
            }

            .chosen-product-number-onclick {
              background-color: $yellow;
              color: $black;
            }
        }

        .basket-block:hover .basket-form {
          display: block;
        }
    }
}

.clicked {

}