@import '_variables';

.panel {
  background-color: $yellow;
  position: relative;
  overflow: hidden;
  padding: 2.5% 0 2.5% 3.2%;

  input {
    background-color: $black;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 1.6% 1.7%;
    border-radius: 5px;
  }

  input::-webkit-input-placeholder {
    color: #e8e8e8;
  }
  input:-moz-placeholder {
    color: #e8e8e8;
  }
  input::-moz-placeholder {
    color: #e8e8e8;
  }
  input:-ms-input-placeholder {
    color: #e8e8e8;
  }

  .search-symbol {
    background: url(../images/search.png) 0 0 no-repeat;
    position: absolute;
    top: 40%;
    left: 15%;
    height: 20px;
    width: 20px;
  }

  .center {
    display: block;
    line-height: 1;
    font-family: $font-bold;
  }

  .up {
    font-size: 2.7em;
    margin-top: -4.5%;
    margin-left: 45%;
  }

  .down {
    font-size: 1.5em;
    margin-left: 45.5%;
  }

  a {
    background-color: $black;
    height: 100%;
    width: 9%;
    position: absolute;
  }

  .login {
    top: 0;
    right: 9.06%;
  }

  .loginImg {
    background: url(../images/login.png) 0 0 no-repeat;
    position: absolute;
    top: 36%;
    right: 12%;
    height: 32px;
    width: 42px;
    cursor: pointer;
  }

  .basket {
    top: 0;
    right: 0;
  }

  .basketImg {
    background: url(../images/basket.png) 0 0 no-repeat;
    position: absolute;
    top: 34%;
    right: 3.55%;
    height: 35px;
    width: 30px;
    cursor: pointer;
  }

  //for js - onclick on Login symbol
  .changeSymbol {
    background: url(../images/login-onclick.png) 0 0 no-repeat;
    position: absolute;
    top: 2em;
    right: 9.5em;
    height: 38px;
    width: 38px;
    cursor: pointer;
  }

  .greenBckgr {
    background-color: $green;
  }
}