@import '_fonts';

$yellow: #fcdb00;
$black: #222222;
$green: #4bb44b;
$grey: #f6f6f6;
$backgrcolor: #fcfaec;

$font-regular: 'SignikaNegative Regular', sans-serif;
$font-bold: 'SignikaNegative Bold', sans-serif;
$font-light: 'SignikaNegative Light', sans-serif;
$light: 'Signika Light', sans-serif;