@import 'variables';

body {
  background-color: $backgrcolor;
  font: 100% $font-regular;

  .green-background {
    position: absolute;
    top: 35.5%;
    height: 500px;
    width: 100%;
    background-color: $green;
    z-index: -10;
  }

  .wrapper {
    margin: 5% 2.5%;
    @include border(10px, $cream_border);

    .main {
      background-color: #fff;
      padding: 6%;

      a {
        text-decoration: none;
      }

      .back-to-shop {
        margin-bottom: 6%;
        text-align: right;
        margin-right: 31%;

        a:before {
          content: '';
          background: url(../images/back-to-shop.png) 0 0 no-repeat;
          position: absolute;
          bottom: -195%;
          left: -120%;
          width: 71px;
          height: 71px;
        }

        a {
          font-size: 0.7em;
          font-weight: bold;
          color: #000;
          position: relative;
          text-transform: uppercase;
        }
      }

      .main-product-photo {
        width: 53%;//650px;
        height: 500px;
        background-color: $dark_grey;
        float: left;
        margin-right: 5%;
      }

      form {
        overflow: hidden;

        span {
          font-size: 2em;
          display: block;
        }

        .designed {
          font-size: 0.9em;
          font-weight: bold;
          margin-bottom: 3%;
        }

        .underlined {
            border-bottom: 1px solid $grey;
            margin-bottom: 5%;
            display: flex;

            .price {
                margin-right: 23%;

                .currency {
                  font-size: 1.8em;
                  display: inline;
                  font-family: $font-bold;
                }

                .product-price {
                  font-size: 2.8em;
                  display: inline;
                  font-family: $font-bold;
                }
            }

            .colour-circles {
                margin-right: 20%;
                padding-top: 2%;

                .circle {
                  @include circle(30px, 30px, 20px);
                  margin-right: -10%;
                }
                .yellow {
                  background-color: $light_yellow;
                }
                .orange {
                  background-color: $orange;
                }
                .blue {
                  background-color: $blue;
                }
            }

            select {
              background-color: $backgrcolor;
              @include border(1px, $cream_border);
              border-radius: 20px;
              font-size: 0.9em;
              color: $dark_grey;
              padding: 14%;
              outline: none;
            }
        }

        .product-description {
          color: $dark_grey;
          font-size: 0.9em;
          margin-bottom: 5%;
        }

        .photos {
          margin-bottom: 14.5%;
          padding: 0;

          li {
            display: inline-block;
            margin-right: 3%;

            img {
              width: 9em;
              height: 9em;
              background-color: $dark_grey;
              vertical-align: middle;
            }
          }

          li:last-child {
            margin-right: 0;
          }

          //for js
          .onclick {
            width: 7.9em;
            height: 7.9em;
            @include border(10px, #f8f3cf);
          }
        }

        button {
          background-color: $green;
          border-radius: 5px;
          color: #fff;
          padding: 3% 8%;
          border: none;
          font-family: $font-regular;
          font-size: 1.1em;
        }
      }
    }
  }
}