@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'SignikaNegative Regular';
  src: url("../fonts/SignikaNegative-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SignikaNegative Bold';
  src: url("../fonts/SignikaNegative-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SignikaNegative Light';
  src: url("../fonts/SignikaNegative-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Signika Light';
  src: url("../fonts/Signika-Light.otf") format("opentype"); }
/*
@mixin circle ($width: 20px, $height: 20px, $border-radius: 10px) {
  display: inline-block;
  width: $width;
  height: $height;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
}
*/
@font-face {
  font-family: 'SignikaNegative Regular';
  src: url("../fonts/SignikaNegative-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SignikaNegative Bold';
  src: url("../fonts/SignikaNegative-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SignikaNegative Light';
  src: url("../fonts/SignikaNegative-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Signika Light';
  src: url("../fonts/Signika-Light.otf") format("opentype"); }
/*
@mixin circle ($width: 20px, $height: 20px, $border-radius: 10px) {
  display: inline-block;
  width: $width;
  height: $height;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
}
*/
@font-face {
  font-family: 'SignikaNegative Regular';
  src: url("../fonts/SignikaNegative-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SignikaNegative Bold';
  src: url("../fonts/SignikaNegative-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SignikaNegative Light';
  src: url("../fonts/SignikaNegative-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Signika Light';
  src: url("../fonts/Signika-Light.otf") format("opentype"); }
/*
@mixin circle ($width: 20px, $height: 20px, $border-radius: 10px) {
  display: inline-block;
  width: $width;
  height: $height;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
}
*/
@font-face {
  font-family: 'SignikaNegative Regular';
  src: url("../fonts/SignikaNegative-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SignikaNegative Bold';
  src: url("../fonts/SignikaNegative-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SignikaNegative Light';
  src: url("../fonts/SignikaNegative-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Signika Light';
  src: url("../fonts/Signika-Light.otf") format("opentype"); }
.form-login:before {
  content: '';
  position: absolute;
  right: 44%;
  top: -6%;
  border: 20px solid transparent;
  border-bottom: 20px solid #faf8e9; }

.form-login {
  background-color: #faf8e9;
  position: absolute;
  z-index: 10;
  border: 1px solid #f6f6f6;
  color: #222222;
  font-family: "Signika Light", sans-serif;
  height: 600px;
  width: 390px;
  top: 130px;
  right: 0;
  display: none; }
  .form-login .wrap {
    padding: 17% 16% 0.5% 14.5%; }
  .form-login span {
    display: block;
    margin-bottom: 13%;
    color: #545351; }
  .form-login .login-title {
    font-size: 2.6em; }
  .form-login .login-title:before {
    content: ' ';
    background: url(../images/login-enter.png) 0 0 no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0 5% -0.7% 4%; }
  .form-login input {
    display: block;
    border: 1px solid #efefef;
    color: #767675;
    border-radius: 10px;
    margin-bottom: 5%;
    font-size: 1em;
    padding: 7% 4%;
    width: 91%; }
  .form-login .input-password {
    letter-spacing: 0.1em;
    font-size: 1.8em;
    padding: 5% 4%;
    margin-bottom: 15%; }
  .form-login .signIn {
    text-transform: uppercase;
    background-color: #fcdb00;
    border-radius: 35px;
    border: none;
    padding: 5% 5%;
    width: 98%;
    font-family: "Signika Light", sans-serif;
    box-shadow: 0 2px 2px 0 #cfb402;
    margin-bottom: 18%;
    cursor: pointer;
    font-size: 1.5em; }
  .form-login .line {
    width: 30%;
    border-bottom: 1px solid #222222;
    text-align: center;
    margin: 0 0 2% 34%; }
  .form-login .text-before-socials {
    margin-left: 28%;
    font-size: 1.2em; }
  .form-login a {
    display: block;
    height: 17%;
    width: 49.8%;
    background-color: #4bb44b;
    float: left;
    margin-right: 0.3%;
    position: relative; }
  .form-login a:last-child {
    margin-right: 0; }
  .form-login .left:before {
    content: ' ';
    background: url(../images/facebook-symbol.jpg) 0 0 no-repeat;
    width: 17px;
    height: 37px;
    display: inline-block;
    position: absolute;
    top: 29%;
    left: 45%; }
  .form-login .right:before {
    content: ' ';
    background: url(../images/twitter-symbol.jpg) 0 0 no-repeat;
    width: 34px;
    height: 29px;
    display: inline-block;
    position: absolute;
    top: 33%;
    right: 40%; }

@font-face {
  font-family: 'SignikaNegative Regular';
  src: url("../fonts/SignikaNegative-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SignikaNegative Bold';
  src: url("../fonts/SignikaNegative-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SignikaNegative Light';
  src: url("../fonts/SignikaNegative-Light.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Signika Light';
  src: url("../fonts/Signika-Light.otf") format("opentype"); }
/*
@mixin circle ($width: 20px, $height: 20px, $border-radius: 10px) {
  display: inline-block;
  width: $width;
  height: $height;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
  border-radius: $border-radius;
}
*/
.form-basket {
  position: absolute;
  top: 5.5%;
  right: 0;
  z-index: 10;
  min-width: 690px;
  display: none; }
  .form-basket .list-of-chosen-products {
    margin: 0;
    padding: 0;
    /*

    // ╨╡╤Б╨╗╨╕ ╨╜╤Г╨╢╨╜╨╛ ╨▓╤Л╨┤╨╡╨╗╨╡╨╜╨╕╨╡ ╤А╨░╨╖╨╜╤Л╨╝ ╤Ж╨▓╨╡╤В╨╛╨╝ ╤З╨╡╤А╨╡╨╖ ╨╛╨┤╨╕╨╜ li, ╨░ ╨╜╨╡ ╨┐╤А╨╕ hover

        li:nth-child(2n) {
          background-color: $green;
          color: #fff;
        }

        li:nth-child(2n) .basket-product-photo {
          background-color: #8b8b8b;
        }

        li:nth-child(2n) .basket-product-number {
          border-right: 1px solid #fff;
        }
    */ }
    .form-basket .list-of-chosen-products li {
      display: flex;
      font-family: "Signika Light", sans-serif;
      font-size: 1.5em;
      background-color: #fbfaf1; }
      .form-basket .list-of-chosen-products li .basket-product-photo {
        max-width: 145px;
        width: 145px;
        height: 90px;
        background-color: #787878; }
      .form-basket .list-of-chosen-products li .block {
        display: inline-flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding: 0 3%; }
        .form-basket .list-of-chosen-products li .block .basket-product-name {
          margin-right: 20%; }
        .form-basket .list-of-chosen-products li .block .basket-product-number {
          font-size: 0.8em;
          padding-right: 3%;
          border-right: 1px solid #000;
          margin-right: 3%; }
        .form-basket .list-of-chosen-products li .block .basket-product-price {
          font-family: "SignikaNegative Bold", sans-serif;
          font-size: 1.2em; }
        .form-basket .list-of-chosen-products li .block .basket-pict {
          background: url(../images/basket-pict-crest-green.png) 0 0 no-repeat;
          width: 30px;
          height: 30px;
          cursor: pointer;
          border: none; }
        .form-basket .list-of-chosen-products li .block button {
          margin-left: auto; }
    .form-basket .list-of-chosen-products li:hover {
      background-color: #4bb44b;
      color: #fff; }
    .form-basket .list-of-chosen-products li:hover .basket-product-photo {
      background-color: #8b8b8b; }
    .form-basket .list-of-chosen-products li:hover .basket-product-number {
      border-right: 1px solid #fff; }
    .form-basket .list-of-chosen-products li:hover .basket-pict {
      background: url(../images/basket-pict-crest-white.png) 0 0 no-repeat; }
  .form-basket .basket-total-info {
    background-color: #fff;
    padding: 3%;
    font-weight: bold;
    text-align: right; }
    .form-basket .basket-total-info span {
      margin-right: 3%; }
    .form-basket .basket-total-info span:nth-child(2) {
      padding-right: 2%; }
    .form-basket .basket-total-info .basket-total-number {
      margin-right: -15px; }
    .form-basket .basket-total-info .basket-total-units {
      border-right: 1px solid #000;
      padding-right: 3%; }
    .form-basket .basket-total-info .basket-total-word {
      font-weight: normal;
      margin-right: 0; }
    .form-basket .basket-total-info .basket-total-price {
      font-weight: bold; }
    .form-basket .basket-total-info button {
      border: none;
      background-color: #4bb44b;
      border-radius: 5px;
      color: #fff;
      padding: 2% 4%;
      font-family: "SignikaNegative Regular", sans-serif;
      font-size: 1.2em;
      cursor: pointer; }
    .form-basket .basket-total-info img {
      margin-right: 4%;
      vertical-align: middle; }

@media screen and (max-width: 1024px) {
  .form-basket {
    top: 7.2%; } }
.visible {
  display: block; }

.header {
  background-color: #fcdb00;
  overflow: hidden; }
  .header .form-search {
    float: left;
    margin: 40px 0 0 45px;
    position: relative; }
    .header .form-search .search {
      background-color: #222222;
      border: none;
      color: #fff;
      text-transform: uppercase;
      padding: 20px 35px 20px 20px;
      border-radius: 5px;
      width: 209px;
      transition-duration: 1s; }
    .header .form-search .search::-webkit-input-placeholder {
      color: #e8e8e8; }
    .header .form-search .search:-moz-placeholder {
      color: #e8e8e8; }
    .header .form-search .search::-moz-placeholder {
      color: #e8e8e8; }
    .header .form-search .search:-ms-input-placeholder {
      color: #e8e8e8; }
    .header .form-search .search-symbol {
      background: url(../images/search.png) 0 0 no-repeat;
      position: absolute;
      top: 30%;
      right: 3%;
      height: 30px;
      width: 30px; }
    .header .form-search .search:focus {
      width: 315px; }
  .header .logotype a {
    font-family: "SignikaNegative Bold", sans-serif;
    color: #000;
    height: 100%;
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 2%;
    line-height: 0.8; }
    .header .logotype a span {
      display: block;
      font-size: 3.7em; }
    .header .logotype a span:last-child {
      font-size: 1.8em; }
  .header .login-and-basket {
    float: right;
    display: flex; }
    .header .login-and-basket .blackBlock {
      border: none;
      background-color: #000;
      cursor: pointer;
      width: 130px;
      height: 130px; }
    .header .login-and-basket .selected {
      background-color: #4bb44b; }
    .header .login-and-basket .login-block {
      margin-right: 0.5%; }
      .header .login-and-basket .login-block .loginImg {
        background: url(../images/login.png) 0 0 no-repeat;
        width: 42px;
        height: 32px;
        position: absolute;
        top: 2.1%;
        right: 11.3%; }
      @media screen and (max-width: 1024px) {
        .header .login-and-basket .login-block .loginImg {
          top: 2.4%;
          right: 17.5%; } }
      .header .login-and-basket .login-block .changeLoginSymbol {
        background: url(../images/login-onclick.png) 0 0 no-repeat;
        position: absolute;
        width: 42px;
        height: 38px;
        top: 1.9%;
        right: 11.3%; }
      @media screen and (max-width: 1024px) {
        .header .login-and-basket .login-block .changeLoginSymbol {
          top: 2.5%;
          right: 17.6%; } }
    .header .login-and-basket .login-block:hover {
      background-color: #4bb44b; }
    .header .login-and-basket .login-block:hover > .form-login {
      display: block; }
    .header .login-and-basket .basket-block {
      width: 130px;
      height: 130px; }
      .header .login-and-basket .basket-block .basketImg {
        background: url(../images/basket.png) 0 0 no-repeat;
        width: 30px;
        height: 35px;
        position: absolute;
        top: 2.1%;
        right: 3.5%; }
      @media screen and (max-width: 1024px) {
        .header .login-and-basket .basket-block .basketImg {
          right: 5%; } }
      .header .login-and-basket .basket-block .changeBasketSymbol {
        background: url(../images/basket-onclick.png) 0 0 no-repeat;
        position: absolute;
        background-size: 70%;
        top: 1.9%;
        right: 2.2%;
        height: 54px;
        width: 47px; }
      @media screen and (max-width: 1024px) {
        .header .login-and-basket .basket-block .changeBasketSymbol {
          top: 2.4%;
          right: 3.7%; } }
      .header .login-and-basket .basket-block .chosen-product-number {
        display: inline-block;
        width: 25px;
        height: 25px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        background-color: #4bb44b;
        position: absolute;
        top: 3.1%;
        right: 2.4%;
        color: #fff;
        font-size: 1.1em;
        font-family: "SignikaNegative Bold", sans-serif;
        text-align: center; }
      @media screen and (max-width: 1024px) {
        .header .login-and-basket .basket-block .chosen-product-number {
          right: 3.5%; }
        .header .login-and-basket .basket-block .chosen-product-number-onclick {
          top: 3.7%;
          right: 4%; } }
      .header .login-and-basket .basket-block .chosen-product-number-onclick {
        background-color: #fcdb00;
        color: #222222; }
    .header .login-and-basket .basket-block:hover {
      background-color: #4bb44b; }
    .header .login-and-basket .basket-block:hover .form-basket {
      display: block; }
    .header .login-and-basket .basket-block:hover .chosen-product-number {
      background-color: #fcdb00;
      color: #000; }

@media (max-device-width: 640px) {
  .header {
    width: 100%;
    height: 200px; }
    .header .form-search {
      position: absolute;
      top: 4.4%;
      right: 2.8%; }
      .header .form-search .search {
        font-size: 1em; }
    .header .logotype {
      background-color: #000;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px; }
      .header .logotype a {
        position: absolute;
        top: -20%;
        left: 43%;
        padding-top: 5%;
        color: #fcdb00;
        font-size: 0.8em; }
        .header .logotype a span:last-child {
          color: #fff; }
    .header .login-and-basket {
      display: none; } }
body {
  background-color: #fcfaec;
  font: 100% "SignikaNegative Regular", sans-serif; }
  body .background {
    position: absolute;
    top: 54.5%;
    height: 500px;
    width: 100%;
    background-color: #4bb44b;
    z-index: -10; }
  @media screen and (max-width: 1024px) {
    body .background {
      top: 32.7%;
      height: 400px; } }
  body .main {
    margin: 2%;
    border: 10px solid #faf5d5;
    background-color: #fff; }
    body .main .header {
      margin-bottom: 3%; }
      body .main .header .login-and-basket .login-block .loginImg {
        top: 11.6%;
        right: 13.4%; }
      body .main .header .login-and-basket .login-block .form-login {
        top: 21.7%;
        right: 2.6%; }
      body .main .header .login-and-basket .login-block .changeLoginSymbol {
        top: 11%;
        right: 13.4%; }
      @media screen and (max-width: 1024px) {
        body .main .header .login-and-basket .login-block .changeLoginSymbol {
          top: 13.7%;
          right: 20.8%; }
        body .main .header .login-and-basket .login-block .loginImg {
          top: 14%;
          right: 20.6%; }
        body .main .header .login-and-basket .login-block .form-login {
          top: 24.8%;
          right: 4%; } }
      body .main .header .login-and-basket .basket-block .basketImg {
        top: 11.1%;
        right: 6%; }
      body .main .header .login-and-basket .basket-block .changeBasketSymbol {
        top: 11.1%;
        right: 5%; }
      body .main .header .login-and-basket .basket-block .chosen-product-number {
        top: 14.2%;
        right: 5%; }
      body .main .header .login-and-basket .basket-block .chosen-product-number-onclick {
        top: 14.1%;
        right: 5%; }
      body .main .header .login-and-basket .basket-block .form-basket {
        top: 21.7%;
        right: 2.6%; }
      @media screen and (max-width: 1024px) {
        body .main .header .login-and-basket .basket-block .basketImg {
          top: 13.8%;
          right: 9%; }
        body .main .header .login-and-basket .basket-block .changeBasketSymbol {
          top: 13.7%;
          right: 7.5%; }
        body .main .header .login-and-basket .basket-block .chosen-product-number {
          top: 16.8%;
          right: 7.5%; }
        body .main .header .login-and-basket .basket-block .chosen-product-number-onclick {
          top: 17%;
          right: 7.5%; }
        body .main .header .login-and-basket .basket-block .form-basket {
          top: 24.8%;
          right: 4%; } }
    body .main .navigation {
      margin-bottom: 4%;
      font-size: 1.3em;
      text-align: center; }
      body .main .navigation a {
        color: #0b0b0b;
        margin-right: 5%;
        display: inline-block;
        text-decoration: none; }
      body .main .navigation a:last-child {
        margin-right: 0; }
    body .main .container {
      background-color: #fff;
      padding: 0 6% 6% 6%; }
      body .main .container a {
        text-decoration: none; }
      body .main .container .main-product-photo {
        width: 53.5%;
        height: 500px;
        background-color: #787878;
        float: left;
        margin-right: 5%;
        margin-top: 10%; }
      @media screen and (max-width: 1024px) {
        body .main .container .main-product-photo {
          height: 400px;
          margin-top: 13%; } }
      body .main .container .form-add-to-basket {
        overflow: hidden; }
        body .main .container .form-add-to-basket .back-to-shop {
          margin-bottom: 15%; }
          body .main .container .form-add-to-basket .back-to-shop a:before {
            content: '';
            background: url(../images/back-to-shop.png) 0 0 no-repeat;
            display: inline-block;
            width: 71px;
            height: 71px;
            margin-right: 10px;
            margin-bottom: -32px; }
          body .main .container .form-add-to-basket .back-to-shop a {
            font-size: 0.7em;
            font-weight: bold;
            color: #000;
            text-transform: uppercase; }
        @media screen and (max-width: 1024px) {
          body .main .container .form-add-to-basket .back-to-shop {
            margin-bottom: 18%; } }
        body .main .container .form-add-to-basket span {
          font-size: 2em;
          display: block; }
        body .main .container .form-add-to-basket .designed {
          font-size: 0.9em;
          font-weight: bold;
          margin-bottom: 3%; }
        body .main .container .form-add-to-basket .underlined {
          border-bottom: 1px solid #f6f6f6;
          margin-bottom: 5%;
          display: flex; }
          body .main .container .form-add-to-basket .underlined .price {
            margin-right: 23%; }
            body .main .container .form-add-to-basket .underlined .price .currency {
              font-size: 1.8em;
              display: inline;
              font-family: "SignikaNegative Bold", sans-serif; }
            @media screen and (max-width: 1024px) {
              body .main .container .form-add-to-basket .underlined .price .currency {
                font-size: 1.5em; } }
            body .main .container .form-add-to-basket .underlined .price .product-price {
              font-size: 2.8em;
              display: inline;
              font-family: "SignikaNegative Bold", sans-serif; }
            @media screen and (max-width: 1024px) {
              body .main .container .form-add-to-basket .underlined .price .product-price {
                font-size: 2em; } }
          body .main .container .form-add-to-basket .underlined .colour-circles {
            margin-right: 20%;
            padding-top: 2%; }
            body .main .container .form-add-to-basket .underlined .colour-circles .circle {
              display: inline-block;
              width: 30px;
              height: 30px;
              -moz-border-radius: 15px;
              -webkit-border-radius: 15px;
              border-radius: 15px;
              margin-right: -10%; }
            @media screen and (max-width: 1024px) {
              body .main .container .form-add-to-basket .underlined .colour-circles .circle {
                display: inline-block;
                width: 20px;
                height: 20px;
                -moz-border-radius: 15px;
                -webkit-border-radius: 15px;
                border-radius: 15px; } }
            body .main .container .form-add-to-basket .underlined .colour-circles .yellow {
              background-color: #f7f97c; }
            body .main .container .form-add-to-basket .underlined .colour-circles .orange {
              background-color: #f86f1c; }
            body .main .container .form-add-to-basket .underlined .colour-circles .blue {
              background-color: #54a4f6; }
          @media screen and (max-width: 1024px) {
            body .main .container .form-add-to-basket .underlined .colour-circles {
              margin-right: 10%; } }
          body .main .container .form-add-to-basket .underlined .units-number {
            background-color: #fcfaec;
            border: 1px solid #faf5d5;
            border-radius: 20px;
            font-size: 0.9em;
            color: #787878;
            padding: 14%;
            outline: none; }
          @media screen and (max-width: 1024px) {
            body .main .container .form-add-to-basket .underlined .units-number {
              padding: 8%; } }
        body .main .container .form-add-to-basket .product-description {
          color: #787878;
          font-size: 0.9em;
          margin-bottom: 5%; }
        body .main .container .form-add-to-basket .photos {
          margin-bottom: 15.5%;
          padding: 0; }
          body .main .container .form-add-to-basket .photos li {
            display: inline-block;
            margin-right: 3%; }
            body .main .container .form-add-to-basket .photos li img {
              width: 9em;
              height: 9em;
              background-color: #787878;
              vertical-align: middle; }
            @media screen and (max-width: 1024px) {
              body .main .container .form-add-to-basket .photos li img {
                width: 6.3em;
                height: 6.3em; } }
          body .main .container .form-add-to-basket .photos li:last-child {
            margin-right: 0; }
          body .main .container .form-add-to-basket .photos .onclick {
            width: 7.9em;
            height: 7.9em;
            border: 10px solid #f8f3cf; }
          @media screen and (max-width: 1024px) {
            body .main .container .form-add-to-basket .photos .onclick {
              width: 5.3em;
              height: 5.3em; } }
        @media screen and (max-width: 1024px) {
          body .main .container .form-add-to-basket .photos {
            margin-bottom: 17%; } }
        body .main .container .form-add-to-basket button {
          background-color: #4bb44b;
          border-radius: 5px;
          color: #fff;
          padding: 3% 8%;
          border: none;
          font-family: "SignikaNegative Regular", sans-serif;
          font-size: 1.1em;
          cursor: pointer; }
  @media (max-device-width: 640px) {
    body .main {
      border: 0;
      margin: 0; }
      body .main header .form-search {
        position: absolute;
        top: 7.4%;
        right: 2.8%; }
      body .main .menu-picture {
        display: block;
        position: absolute;
        top: 12%;
        left: 4%;
        width: 5%;
        height: 10px;
        padding: 15px;
        background-image: linear-gradient(#000 50%, transparent 50%);
        background-size: 100% 15px; }
      body .main .navigation {
        position: absolute;
        top: 16.5%;
        left: 0;
        z-index: 10;
        display: none;
        width: 100%;
        margin: 0;
        background-color: #fcdb00;
        font-size: 1.6em;
        opacity: 0.8;
        text-align: center; }
        body .main .navigation a {
          display: block;
          padding: 10px 0;
          margin-right: 0; }
      body .main .animation {
        display: block; } }

/*# sourceMappingURL=product_page.css.map */
