@import '_reset';
@import '_fonts';

$yellow: #fcdb00;
$black: #222222;
$green: #4bb44b;
$grey: #f6f6f6;
$backgrcolor: #fcfaec;


$font-regular: 'SignikaNegative Regular', sans-serif;
$font-bold: 'SignikaNegative Bold', sans-serif;
$font-light: 'SignikaNegative Light', sans-serif;



body {
  background-color: $backgrcolor;
  font: 0.8em $font-regular;

header {
      background-color:$yellow;
      padding: 7em 0.01em 4em 3.3em;
      font-family: $font-regular;
      margin-bottom: 2.2em;
      font-size: 2em;

      .logo {
          font-size: 4em;
          margin-bottom: 1em;

            h2 {
              font-family: $font-bold;
            }

            .logo-text {
              font-size: 0.3em;
            }
      }

      .header-text {
        font-size: 0.75em;
        width: 60%;
        line-height: 2.5;
        font-family: $font-regular, sans-serif;
        color: #76681a;
      }
}

  .wrapper {
    position: relative;
    padding-bottom: 100px;

    .main {
      border: 10px solid #faf6d6;
      margin: 2%;
      position: relative;

      .panel {
        background-color: $yellow;
        height: 7.2em;
        position: relative;
        overflow: hidden;

        input {
          background-color: $black;
          border: none;
          font-size: 0.8em;
          padding: 1em;
          border-radius: 4px;
          width: 9%;
          height: 4em;
          margin-top: 2.5em;
          margin-left: 3em;
        }

        input::-webkit-input-placeholder {
          color: #e8e8e8;
        }
        input:-moz-placeholder {
          color: #e8e8e8;
        }
        input::-moz-placeholder {
          color: #e8e8e8;
        }
        input:-ms-input-placeholder {
          color: #e8e8e8;
        }

        .search-symbol {
          background: url(../images/search.png) 0 0 no-repeat;
          position: absolute;
          top: 35px;
          left: 130px;
          height: 20px;
          width: 20px;
        }

        .center {
          display: block;
          line-height: 1;
          font-family: $font-bold;
        }

        .up {
          font-size: 2.7em;
          margin-top: -1.4em;
          margin-left: 19.7em;
          width: 12%;
        }

        .down {
          margin-left: 31.2em;
          font-size: 1.7em;
          width: 12%;
        }

        a {
          background-color: $black;
          height: 7.2em;
          width: 7.2em;
          position: absolute;
        }

        .login {
          top: 0;
          right: 7.3em;
        }

        .loginImg {
          background: url(../images/login.png) 0 0 no-repeat;
          position: absolute;
          top: 2.5em;
          right: 9.1em;
          height: 32px;
          width: 42px;
          cursor: pointer;
        }

        .basket {
          top: 0;
          right: 0;
        }

        .basketImg {
          background: url(../images/basket.png) 0 0 no-repeat;
          position: absolute;
          top: 2.2em;
          right: 2.5em;
          height: 35px;
          width: 30px;
          cursor: pointer;
        }

        .changeSymbol {
          background: url(../images/login-onclick.png) 0 0 no-repeat;
          position: absolute;
          top: 2em;
          right: 9.5em;
          height: 38px;
          width: 38px;
          cursor: pointer;
        }

        .greenBckgr {
          background-color: $green;
        }
      }

      .hide {
        display: none;
      }

      .login-form:before {
        content: '';
        position: absolute;
        right: 25px;
        top: -40px;
        border: 20px solid transparent;
        border-bottom: 20px solid #faf8e9;
      }

      .login-form {
        background-color: #faf8e9;
        height: 26%;
        width: 23%;
        position: absolute;
        z-index: 10;
        border: 1px solid $grey;
        color: $black;
        top: 7.2em;
        right: 7.3em;

        .wrap {
          padding: 17% 0.5% 0 14.5%;
        }

        span {
          display: block;
          margin-bottom: 13%;
          font-family: $font-light;
          font-size: 170%;
          color: #545351;
        }

        .login-title {
          font-size: 230%;
        }

        .login-title:before {
          content: ' ';
          background: url(../images/login-enter.png) 0 0 no-repeat;
          width: 32px;
          height: 32px;
          display: inline-block;
          margin: 0 5% -2% 4%;
        }

        input {
          display: block;
          border: 1px solid $grey;
          color: #767675;
          height: 2.7em;
          width: 80%;
          border-radius: 10px;
          font-size: 150%;
          font-family: $font-light;
          margin-bottom: 5%;
        }

        .input-password {
          margin-bottom: 12%;
        }

        button {
          text-transform: uppercase;
          background-color: $yellow;
          border-radius: 20px;
          border: none;
          height: 2.7em;
          width: 78%;
          font-size: 180%;
          font-family: $font-light;
          box-shadow: 0 1.5px 1.5px 0 #cfb402;
          margin-bottom: 20%;
          margin-left: 2%;
          cursor: pointer;
        }

        .line {
          width: 32%;
          border-bottom: 1px solid $black;
          text-align: center;
          margin: 0 0 2% 25%;
        }

        .text-before-socials {
          margin-left: 19%;
          margin-bottom: 9%;
        }

        a {
          display: block;
          height: 17%;
          width: 49.8%;
          background-color: $green;
          float: left;
          margin-right: 0.3%;
          position: relative;
        }

        a:last-child {
          margin-right: 0;
        }

        .left:before {
          content: ' ';
          background: url(../images/facebook-symbol.jpg) 0 0 no-repeat;
          width: 17px;
          height: 37px;
          display: inline-block;
          position: absolute;
          top: 29%;
          left: 45%;
        }

        .right:before {
          content: ' ';
          background: url(../images/twitter-symbol.jpg) 0 0 no-repeat;
          width: 34px;
          height: 29px;
          display: inline-block;
          position: absolute;
          top: 33%;
          right: 40%;
        }
      }


      .content {
        background-color: #ffffff;
        font-size: 1.4em;
        text-align: center;
        overflow: hidden;

        li {
          display: inline-block;
          margin: 2.5em 4em 1.6em 0;
        }

        a {
          color: #414141;
        }

        .advertisement {
          border: 3px solid $grey;
          padding: 1em 0.1em 2em 1em;
          position: relative;
          margin: 0 1em 3em 5em;
          float: left;
          width: 58%;

          figcaption {
            text-transform: uppercase;
            margin-bottom: 2.3em;
            font-size: 1.3em;
          }

          img {
            width: 875px;
            height: 459px;
            background-color: #8b8b8b;
            border: 3px solid $grey;
            margin-bottom: 1em;
          }

          span {
            position: absolute;
            bottom: 5em;
            left: 3.6em;
            border: 2px solid #000000;
            padding: 0.5em 1.5em;
            font-size: 2em;
            text-transform: uppercase;
            font-family: $font-bold;
            cursor: pointer;
          }

          a {
            font-family: $font-bold;
          }
        }

        .sidebar {
          border: 3px solid $grey;
          overflow: hidden;
          width: 30%;
          margin-bottom: 7%;
          position: relative;

          .textOnImg {
            position: absolute;
            top: 10%;
            right: 28%;
            color: #ffffff;
            line-height: 1;

            h2 {
              font-size: 6em;
              text-shadow: 6px 0 2px #dcdcdc;
            }
            span {
              font-size: 2.5em;
              text-shadow: 2px 2px 2px #dcdcdc;
            }
          }

          section:before{
            content: '';
            position: absolute;
            right: 43%;
            top: 46%;
            border: 30px solid transparent;
            border-bottom: 30px solid #fff;
          }

          section {
            padding: 0 2em;
          }

          h3 {
            font-size: 2.8em;
            font-family: "SignikaNegative Bold", sans-serif;
          }

          article {
            width: 43%;
            border-bottom: 2px solid #000000;
            margin-left: 6em;
            margin-bottom: 1.7em;
          }

          img {
            width: 520px;
            height: 347px;
            background-color: #8b8b8b;
          }

          .onclickButtonImg {
            background-color: #2b6133;
          }

          span {
            font-family: $font-regular;
            font-size: 1.1em;
            display: block;
            margin-bottom: 2em;
          }

          a {
            display: block;
            margin: 0 0 1.5em 2.6em;
            padding: 0.6em;
            font-family: $font-regular;
            font-size: 1.5em;
            background-color: $yellow;
            border-radius: 28px;
            border: none;
            width: 55%;
            text-decoration: none;
            color: $black;
          }

          .onclickButtonBeforeA {
            content: ' ';
            width: 25px;
            height: 25px;
            display: inline-block;
            background: url(../images/heart.png) 35px 17px no-repeat;
          }

          .onclickButtonA {
            background-color: #5bcf6c;
            box-shadow: 0 3px 3px 0 #3db04e;
            color: #ffffff;

            display: block;
            margin: 0 0 1.5em 2.6em;
            padding: 0.6em;
            font-family: $font-regular;
            font-size: 1.5em;
            border-radius: 28px;
            border: none;
            width: 55%;
            text-decoration: none;
          }

        }

        .list-of-popular {

          margin: 0 10% 12% 10%;
          text-transform: uppercase;
          font-weight: bold;

          h3:before {
            content: ' ';
            background: url(../images/lines.jpg) 0 0 repeat-x;
            width: 4%;
            height: 2px;
            display: inline-block;
            margin-bottom: 0.45%;
            margin-right: 1%;
          }

          h3 {
            font-size: 150%;
            margin-bottom: 6%;
          }

          h3:after {
            content: ' ';
            background: url(../images/lines.jpg) 0 0 repeat-x;
            width: 4%;
            height: 2px;
            display: inline-block;
            margin-bottom: 0.45%;
            margin-left: 1%;
          }

          ul {
            overflow: hidden;
          }

          li {
            display: inline-block;
            background-color: #8b8b8b;
            float: left;
            width: 33%;
            height: 313px;
            margin: 0;

            figure {
              display: none;
            }
          }

          li:nth-child(2n + 1) {
            background-color: #787878;
          }

          li:hover {
            background-color: #ecd014;

            figure {
              padding-top: 12%;
              display: block;
            }

            img {
              background-size: 100% 100%;
              width: 100px;
              height: 100px;
              margin-bottom: 10%;
            }

            figcaption {
              display: block;
              font-size: 140%;
              margin-bottom: 3%;
            }
            figcaption:last-child {
              text-transform: lowercase;
              font-weight: normal;
              font-size: 130%;
            }
            a {
              font-weight: bold;
              color: black;
            }
          }
        }
      }

      footer {
        background-color: #fcfae8;
        padding: 2.6em 12.5em 8.2em 12em;
        font-family: $font-regular;
        overflow: hidden;
        font-style: italic;

        a {
          text-decoration: none;
          color: #cccabc;
        }

        .list-ref {
          float: left;
          width: 33%;
          line-height: 2.5;
          font-size: 1.3em;
        }

        .short-info {
          float: left;
          width: 20%;
          line-height: 1.8;
          margin-top: 0.3em;

          article {
            color: #cccabc;
            font-size: 1.2em;
          }

          span {
            font-size: 2.4em;
            display: inline-block;
            font-weight: bold;
            font-style: normal;
            margin-bottom: 0.5em;
          }
        }

        .social-block {
          float: right;
          width: 17%;
          font-style: normal;

          .social-pics {
            float: right;
            margin-bottom: 5em;

            li {
              display: inline-block;
              margin-right: 1.5em;
            }

            li:last-child {
              margin-right: 0;
            }

            a {
              color: #696863;
            }
          }

          .subscribe::-webkit-input-placeholder {
            color: #555554;
            text-align: right;
            font-weight: bold;
          }
          .subscribe:-moz-placeholder {
            text-align: right;
          }
          .subscribe::-moz-placeholder {
            text-align: right;
          }
          .subscribe:-ms-input-placeholder {
            text-align: right;
          }

          input {
            float: right;
            border: none;
            background-color: #fcfae8;
            border-bottom: 2px solid #fcd800;
            width: 230px;
            font-size: 2em;
            height: 2em;
          }

          .send {
            background-color: #fcfae8;
            border: none;
            float: right;
            color: $green;
            font-weight: bold;
            font-family: $font-bold;
            font-size: 1.5em;
            cursor: pointer;
          }
        }
      }
    }

    .substrate {
      height: 35%;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: $yellow;
      z-index: -5;
    }
  }
}