@import 'reset';
@import 'fonts';
@import 'variables';
@import 'banner';
@import 'header';
@import 'form-login';
@import 'form-basket';
@import 'content_nav';
@import 'content_advertisement';
@import 'content_listOfPopular';
@import 'content_sidebar';
@import 'footer';

body {
  background-color: $backgrcolor;
  font: 100% $font-regular;

  .wrapper {
    position: relative;
    padding-bottom: 7%;

    .main {
      position: relative;
      border: 10px solid rgba(250, 246, 214, 0.4);
      margin: 2%;

      .hide {
        display: none;
      }

      .topiclist {
        background-color: #ffffff;
        text-align: center;
        overflow: hidden;
        padding: 4%;

        .menu-picture {
          display: none;
        }

        @media (max-device-width: 640px)  {
          .menu-picture {
            display: block;
            position: absolute;
            top: 8%;
            left: 4%;
            width: 5%;
            height: 10px;
            padding: 15px;
            background-image: linear-gradient(#000 50%, transparent 50%);
            background-size: 100% 15px;
          }
        }

        .content {
              display: flex;
              margin-bottom: 7%;
        }
        }
    }

    .substrate {
      height: 35%;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: $yellow;
      z-index: -10;
    }
  }

  @media (max-device-width: 640px)  {
    .wrapper {
      padding-bottom: 0;

      .main {
        border: none;
        margin: 0;

        .topiclist {
          padding: 0;

          .content {
            display: block;
            margin-bottom: 0;
          }
        }
      }
      .substrate {
        display: none;
      }
    }

  }
}