@import '_reset';
@import '_fonts';
@import '_header';
@import '_variables';
@import '_panel';
@import '_login-form';
@import '_footer';
@import '_content_nav';
@import '_content_advertisement';
@import '_content_sidebar';
@import '_content_listOfPopular';


body {
  background-color: $backgrcolor;
  font: 100% $font-regular;


  .wrapper {
    position: relative;
    padding-bottom: 7%;

    .main {
      border: 10px solid #faf6d6;
      margin: 2%;

      .hide {
        display: none;
      }

      .content {
        background-color: #ffffff;
        text-align: center;
        overflow: hidden;
        padding: 4%;

          .container {
              overflow: hidden;
              display: flex;
              margin-bottom: 7%;
          }
        }
    }

    .substrate {
      height: 35%;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: $yellow;
      z-index: -5;
    }
  }
}