html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'SignikaNegative Regular';
  src: url("../fonts/SignikaNegative-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SignikaNegative Bold';
  src: url("../fonts/SignikaNegative-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'SignikaNegative Light';
  src: url("../fonts/SignikaNegative-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  background-color: #fcfaec;
  font: 0.8em "SignikaNegative Regular", sans-serif; }
  body header {
    background-color: #fcdb00;
    padding: 7em 0.01em 4em 3.3em;
    font-family: "SignikaNegative Regular", sans-serif;
    margin-bottom: 2.2em;
    font-size: 2em; }
    body header .logo {
      font-size: 4em;
      margin-bottom: 1em; }
      body header .logo h2 {
        font-family: "SignikaNegative Bold", sans-serif; }
      body header .logo .logo-text {
        font-size: 0.3em; }
    body header .header-text {
      font-size: 0.75em;
      width: 60%;
      line-height: 2.5;
      font-family: "SignikaNegative Regular", sans-serif, sans-serif;
      color: #76681a; }
  body .wrapper {
    position: relative;
    padding-bottom: 100px; }
    body .wrapper .main {
      border: 10px solid #faf6d6;
      margin: 2%;
      position: relative; }
      body .wrapper .main .panel {
        background-color: #fcdb00;
        height: 7.2em;
        position: relative;
        overflow: hidden; }
        body .wrapper .main .panel input {
          background-color: #222222;
          border: none;
          font-size: 0.8em;
          padding: 1em;
          border-radius: 4px;
          width: 9%;
          height: 4em;
          margin-top: 2.5em;
          margin-left: 3em; }
        body .wrapper .main .panel input::-webkit-input-placeholder {
          color: #e8e8e8; }
        body .wrapper .main .panel input:-moz-placeholder {
          color: #e8e8e8; }
        body .wrapper .main .panel input::-moz-placeholder {
          color: #e8e8e8; }
        body .wrapper .main .panel input:-ms-input-placeholder {
          color: #e8e8e8; }
        body .wrapper .main .panel .search-symbol {
          background: url(../images/search.png) 0 0 no-repeat;
          position: absolute;
          top: 35px;
          left: 130px;
          height: 20px;
          width: 20px; }
        body .wrapper .main .panel .center {
          display: block;
          line-height: 1;
          font-family: "SignikaNegative Bold", sans-serif; }
        body .wrapper .main .panel .up {
          font-size: 2.7em;
          margin-top: -1.4em;
          margin-left: 19.7em;
          width: 12%; }
        body .wrapper .main .panel .down {
          margin-left: 31.2em;
          font-size: 1.7em;
          width: 12%; }
        body .wrapper .main .panel a {
          background-color: #222222;
          height: 7.2em;
          width: 7.2em;
          position: absolute; }
        body .wrapper .main .panel .login {
          top: 0;
          right: 7.3em; }
        body .wrapper .main .panel .loginImg {
          background: url(../images/login.png) 0 0 no-repeat;
          position: absolute;
          top: 2.5em;
          right: 9.1em;
          height: 32px;
          width: 42px;
          cursor: pointer; }
        body .wrapper .main .panel .basket {
          top: 0;
          right: 0; }
        body .wrapper .main .panel .basketImg {
          background: url(../images/basket.png) 0 0 no-repeat;
          position: absolute;
          top: 2.2em;
          right: 2.5em;
          height: 35px;
          width: 30px;
          cursor: pointer; }
        body .wrapper .main .panel .changeSymbol {
          background: url(../images/login-onclick.png) 0 0 no-repeat;
          position: absolute;
          top: 2em;
          right: 9.5em;
          height: 38px;
          width: 38px;
          cursor: pointer; }
        body .wrapper .main .panel .greenBckgr {
          background-color: #4bb44b; }
      body .wrapper .main .hide {
        display: none; }
      body .wrapper .main .login-form:before {
        content: '';
        position: absolute;
        right: 25px;
        top: -40px;
        border: 20px solid transparent;
        border-bottom: 20px solid #faf8e9; }
      body .wrapper .main .login-form {
        background-color: #faf8e9;
        height: 26%;
        width: 23%;
        position: absolute;
        z-index: 10;
        border: 1px solid #f6f6f6;
        color: #222222;
        top: 7.2em;
        right: 7.3em; }
        body .wrapper .main .login-form .wrap {
          padding: 17% 0.5% 0 14.5%; }
        body .wrapper .main .login-form span {
          display: block;
          margin-bottom: 13%;
          font-family: "SignikaNegative Light", sans-serif;
          font-size: 170%;
          color: #545351; }
        body .wrapper .main .login-form .login-title {
          font-size: 230%; }
        body .wrapper .main .login-form .login-title:before {
          content: ' ';
          background: url(../images/login-enter.png) 0 0 no-repeat;
          width: 32px;
          height: 32px;
          display: inline-block;
          margin: 0 5% -2% 4%; }
        body .wrapper .main .login-form input {
          display: block;
          border: 1px solid #f6f6f6;
          color: #767675;
          height: 2.7em;
          width: 80%;
          border-radius: 10px;
          font-size: 150%;
          font-family: "SignikaNegative Light", sans-serif;
          margin-bottom: 5%; }
        body .wrapper .main .login-form .input-password {
          margin-bottom: 12%; }
        body .wrapper .main .login-form button {
          text-transform: uppercase;
          background-color: #fcdb00;
          border-radius: 20px;
          border: none;
          height: 2.7em;
          width: 78%;
          font-size: 180%;
          font-family: "SignikaNegative Light", sans-serif;
          box-shadow: 0 1.5px 1.5px 0 #cfb402;
          margin-bottom: 20%;
          margin-left: 2%;
          cursor: pointer; }
        body .wrapper .main .login-form .line {
          width: 32%;
          border-bottom: 1px solid #222222;
          text-align: center;
          margin: 0 0 2% 25%; }
        body .wrapper .main .login-form .text-before-socials {
          margin-left: 19%;
          margin-bottom: 9%; }
        body .wrapper .main .login-form a {
          display: block;
          height: 17%;
          width: 49.8%;
          background-color: #4bb44b;
          float: left;
          margin-right: 0.3%;
          position: relative; }
        body .wrapper .main .login-form a:last-child {
          margin-right: 0; }
        body .wrapper .main .login-form .left:before {
          content: ' ';
          background: url(../images/facebook-symbol.jpg) 0 0 no-repeat;
          width: 17px;
          height: 37px;
          display: inline-block;
          position: absolute;
          top: 29%;
          left: 45%; }
        body .wrapper .main .login-form .right:before {
          content: ' ';
          background: url(../images/twitter-symbol.jpg) 0 0 no-repeat;
          width: 34px;
          height: 29px;
          display: inline-block;
          position: absolute;
          top: 33%;
          right: 40%; }
      body .wrapper .main .content {
        background-color: #ffffff;
        font-size: 1.4em;
        text-align: center;
        overflow: hidden; }
        body .wrapper .main .content li {
          display: inline-block;
          margin: 2.5em 4em 1.6em 0; }
        body .wrapper .main .content a {
          color: #414141; }
        body .wrapper .main .content .advertisement {
          border: 3px solid #f6f6f6;
          padding: 1em 0.1em 2em 1em;
          position: relative;
          margin: 0 1em 3em 5em;
          float: left;
          width: 58%; }
          body .wrapper .main .content .advertisement figcaption {
            text-transform: uppercase;
            margin-bottom: 2.3em;
            font-size: 1.3em; }
          body .wrapper .main .content .advertisement img {
            width: 875px;
            height: 459px;
            background-color: #8b8b8b;
            border: 3px solid #f6f6f6;
            margin-bottom: 1em; }
          body .wrapper .main .content .advertisement span {
            position: absolute;
            bottom: 5em;
            left: 3.6em;
            border: 2px solid #000000;
            padding: 0.5em 1.5em;
            font-size: 2em;
            text-transform: uppercase;
            font-family: "SignikaNegative Bold", sans-serif;
            cursor: pointer; }
          body .wrapper .main .content .advertisement a {
            font-family: "SignikaNegative Bold", sans-serif; }
        body .wrapper .main .content .sidebar {
          border: 3px solid #f6f6f6;
          overflow: hidden;
          width: 30%;
          margin-bottom: 7%;
          position: relative; }
          body .wrapper .main .content .sidebar .textOnImg {
            position: absolute;
            top: 10%;
            right: 28%;
            color: #ffffff;
            line-height: 1; }
            body .wrapper .main .content .sidebar .textOnImg h2 {
              font-size: 6em;
              text-shadow: 6px 0 2px #dcdcdc; }
            body .wrapper .main .content .sidebar .textOnImg span {
              font-size: 2.5em;
              text-shadow: 2px 2px 2px #dcdcdc; }
          body .wrapper .main .content .sidebar section:before {
            content: '';
            position: absolute;
            right: 43%;
            top: 45%;
            border: 30px solid transparent;
            border-bottom: 30px solid #fff; }
          body .wrapper .main .content .sidebar section {
            padding: 0 2em; }
          body .wrapper .main .content .sidebar h3 {
            font-size: 2.8em;
            font-family: "SignikaNegative Bold", sans-serif; }
          body .wrapper .main .content .sidebar article {
            width: 43%;
            border-bottom: 2px solid #000000;
            margin-left: 6em;
            margin-bottom: 1.7em; }
          body .wrapper .main .content .sidebar img {
            width: 520px;
            height: 347px;
            background-color: #8b8b8b; }
          body .wrapper .main .content .sidebar .onclickButtonImg {
            background-color: #2b6133; }
          body .wrapper .main .content .sidebar span {
            font-family: "SignikaNegative Regular", sans-serif;
            font-size: 1.1em;
            display: block;
            margin-bottom: 2em; }
          body .wrapper .main .content .sidebar a {
            display: block;
            margin: 0 0 1.5em 2.6em;
            padding: 0.6em;
            font-family: "SignikaNegative Regular", sans-serif;
            font-size: 1.5em;
            background-color: #fcdb00;
            border-radius: 28px;
            border: none;
            width: 55%;
            text-decoration: none;
            color: #222222; }
          body .wrapper .main .content .sidebar .onclickButtonBeforeA {
            content: ' ';
            width: 25px;
            height: 25px;
            display: inline-block;
            background: url(../images/heart.png) 35px 17px no-repeat; }
          body .wrapper .main .content .sidebar .onclickButtonA {
            background-color: #5bcf6c;
            box-shadow: 0 3px 3px 0 #3db04e;
            color: #ffffff;
            display: block;
            margin: 0 0 1.5em 2.6em;
            padding: 0.6em;
            font-family: "SignikaNegative Regular", sans-serif;
            font-size: 1.5em;
            border-radius: 28px;
            border: none;
            width: 55%;
            text-decoration: none; }
        body .wrapper .main .content .list-of-popular {
          margin: 0 10% 12% 10%;
          text-transform: uppercase;
          font-weight: bold; }
          body .wrapper .main .content .list-of-popular h3:before {
            content: ' ';
            background: url(../images/lines.jpg) 0 0 repeat-x;
            width: 4%;
            height: 2px;
            display: inline-block;
            margin-bottom: 0.45%;
            margin-right: 1%; }
          body .wrapper .main .content .list-of-popular h3 {
            font-size: 150%;
            margin-bottom: 6%; }
          body .wrapper .main .content .list-of-popular h3:after {
            content: ' ';
            background: url(../images/lines.jpg) 0 0 repeat-x;
            width: 4%;
            height: 2px;
            display: inline-block;
            margin-bottom: 0.45%;
            margin-left: 1%; }
          body .wrapper .main .content .list-of-popular ul {
            overflow: hidden; }
          body .wrapper .main .content .list-of-popular li {
            display: inline-block;
            background-color: #8b8b8b;
            float: left;
            width: 33%;
            height: 313px;
            margin: 0; }
            body .wrapper .main .content .list-of-popular li figure {
              display: none; }
          body .wrapper .main .content .list-of-popular li:nth-child(2n + 1) {
            background-color: #787878; }
          body .wrapper .main .content .list-of-popular li:hover {
            background-color: #ecd014; }
            body .wrapper .main .content .list-of-popular li:hover figure {
              padding-top: 12%;
              display: block; }
            body .wrapper .main .content .list-of-popular li:hover img {
              background-size: 100% 100%;
              width: 100px;
              height: 100px;
              margin-bottom: 10%; }
            body .wrapper .main .content .list-of-popular li:hover figcaption {
              display: block;
              font-size: 140%;
              margin-bottom: 3%; }
            body .wrapper .main .content .list-of-popular li:hover figcaption:last-child {
              text-transform: lowercase;
              font-weight: normal;
              font-size: 130%; }
            body .wrapper .main .content .list-of-popular li:hover a {
              font-weight: bold;
              color: black; }
      body .wrapper .main footer {
        background-color: #fcfae8;
        padding: 2.6em 12.5em 8.2em 12em;
        font-family: "SignikaNegative Regular", sans-serif;
        overflow: hidden;
        font-style: italic; }
        body .wrapper .main footer a {
          text-decoration: none;
          color: #cccabc; }
        body .wrapper .main footer .list-ref {
          float: left;
          width: 33%;
          line-height: 2.5;
          font-size: 1.3em; }
        body .wrapper .main footer .short-info {
          float: left;
          width: 20%;
          line-height: 1.8;
          margin-top: 0.3em; }
          body .wrapper .main footer .short-info article {
            color: #cccabc;
            font-size: 1.2em; }
          body .wrapper .main footer .short-info span {
            font-size: 2.4em;
            display: inline-block;
            font-weight: bold;
            font-style: normal;
            margin-bottom: 0.5em; }
        body .wrapper .main footer .social-block {
          float: right;
          width: 17%;
          font-style: normal; }
          body .wrapper .main footer .social-block .social-pics {
            float: right;
            margin-bottom: 5em; }
            body .wrapper .main footer .social-block .social-pics li {
              display: inline-block;
              margin-right: 1.5em; }
            body .wrapper .main footer .social-block .social-pics li:last-child {
              margin-right: 0; }
            body .wrapper .main footer .social-block .social-pics a {
              color: #696863; }
          body .wrapper .main footer .social-block .subscribe::-webkit-input-placeholder {
            color: #555554;
            text-align: right;
            font-weight: bold; }
          body .wrapper .main footer .social-block .subscribe:-moz-placeholder {
            text-align: right; }
          body .wrapper .main footer .social-block .subscribe::-moz-placeholder {
            text-align: right; }
          body .wrapper .main footer .social-block .subscribe:-ms-input-placeholder {
            text-align: right; }
          body .wrapper .main footer .social-block input {
            float: right;
            border: none;
            background-color: #fcfae8;
            border-bottom: 2px solid #fcd800;
            width: 230px;
            font-size: 2em;
            height: 2em; }
          body .wrapper .main footer .social-block .send {
            background-color: #fcfae8;
            border: none;
            float: right;
            color: #4bb44b;
            font-weight: bold;
            font-family: "SignikaNegative Bold", sans-serif;
            font-size: 1.5em;
            cursor: pointer; }
    body .wrapper .substrate {
      height: 35%;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #fcdb00;
      z-index: -5; }

/*# sourceMappingURL=styles.css.map */
