@import 'variables';
@import 'fonts';

body {
  background-color: $backgrcolor;
  font: 100% $font-regular;

  .wrapper {

      .main {
          border: 10px solid #faf6d6;
          margin: 2%;
          padding: 3% 5%;
          background-color: #fff;

          nav {
            margin: 2% 2% 4% 2%;
            text-align: center;
            font-weight: bold;

            a {
              color: #0b0b0b;
              margin-right: 5%;
              display: inline-block;
              text-decoration: none;
            }

            a:last-child {
              margin-right: 0;
            }
          }

          ul {
              li {
                  @include border();
                  display: inline-block;
                  text-align: center;
                  margin: 0 2.5% 3% 0;
                  font-size: 1.2em;
                  cursor: pointer;
                  padding-bottom: 2%;
                  position: relative;
                  vertical-align: top;

                  img {
                    background-color: $dark_grey;
                    display: block;
                    margin-bottom: 20px;
                  }

                  .small {
                    width: 320px;
                    height: 250px;
                  }

                  .big {
                    width: 520px;
                    height: 280px;
                  }

                  .currency {
                    font-size: 0.9em;
                    font-family: $font-bold;
                  }

                  .product-price {
                    font-weight: 900;
                  }

                  .product-name {
                    text-transform: uppercase;
                    display: block;
                    margin-bottom: 18%;
                  }

                  button {
                    position: absolute;
                    bottom: 5%;
                    left: 27%;
                    background-color: $green;
                    border-radius: 5px;
                    color: #fff;
                    padding: 4% 10%;
                    border: none;
                    font-size: 0.9em;
                    font-family: $font-regular;
                    display: none;
                    cursor: pointer;
                  }

                  .color-circles {
                    margin-bottom: 3%;

                    .circle {
                      @include circle();
                      margin-left: -3%;
                    }

                    .yellow {
                      background-color: $light_yellow;
                    }
                    .orange {
                      background-color: $orange;
                    }
                    .green {
                      background-color: $green;
                    }
                    .dark_blue {
                      background-color: $dark_blue;
                    }
                    .blue {
                      background-color: $blue;
                    }
                    .magenta {
                      background-color: $magenta;
                    }
                    .lavender {
                      background-color: $lavender;
                    }
                  }

              }

              li:hover button {
                display: inline-block;
              }

              li:last-child(n+3) {
                margin-right: 0;
              }

              li:nth-last-child(-n+3) {
                  padding-bottom: 1%;

                  span {
                    margin-bottom: 0;
                  }
              }

              li:nth-last-child(-n+3):hover {

                  .product-name {
                        margin-bottom: 20%;
                  }
              }

              .big-block {
                  text-align: left;

                   .currency {
                     margin-left: 5%;
                   }

                  .product-name {
                    margin-bottom: 4%;
                    margin-left: 5%;
                  }

                  .color-circles {
                    margin-left: 7%;

                    .circle {
                      margin-left: -2%;
                    }
                  }

                  button {
                    bottom: 12%;
                    left: 60%;
                    padding: 3% 8%;
                    font-size: 1em;
                    display: none;
                  }
          }

      }
      }
  }
}